<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>

        <!-- modules includes -->
        <link rel="stylesheet" href="../modules/style.css">
        <script src="../modules/jquery/jquery.slim.min.js"></script>
        <script src="../modules/bootstrap/bootstrap.min.js"></script>
        <script src="../modules/marked/marked.min.js"></script>
        <!-- modules includes -->

        <!-- local scripts -->
        <link rel="stylesheet" href="./style.css">
        <script src="./script.js"></script>
        <!-- local scripts -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../assets/coconuts.svg" alt="" width="120" class="d-inline-block align-text-top">
                </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex flex-row align-items-start justify-content-center search-box">
                <input  type="text" class="search-txt" name="" placeholder="Search">
                <div class="d-flex flex-column align-items-center justify-content-center search-logo">
                    <a class="search-btn">
                        <i class="bi-search"></i>
                    </a>
                </div>
            </div>
            <div class="d-flex">
                <h4>Account</h4>
            </div>
            </div>
        </nav>

        <div id="markdown_previewer"></div>
        <script>

            $("#markdown_previewer").html(
                marked.parse("# **Header**\n# Header")
            )
        </script>
    </body>
</html>