<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>

    <!-- modules includes -->
    <link rel="stylesheet" href="../modules/style.css">
    <script src="../modules/bootstrap/bootstrap.min.js"></script>
    <script src="../modules/jquery/jquery.slim.min.js"></script>
    <!-- modules includes -->

    <!-- local scripts -->
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
    <!-- local scripts -->
</head>
<body>

</body>
</html>