@font-face {
font-family: "Poppins";
font-weight: bold;
font-style: normal;
src: url("./Poppins/5bd7a1e006fa739a820cbf397667fc86e7c4e2eb700df81b532121f78ef7d3d7.woff2") format('woff2');
}
@font-face {
font-family: "Poppins Medium";
font-weight: normal;
font-style: normal;
src: url("./Poppins/54cedf5dd7570144d85d5f94e823e02147777e9063d548723122099546d149bd.woff2") format('woff2');
}
@font-face {
font-family: "Poppins";
font-weight: bold;
font-style: normal;
src: url("./Poppins/0bcf29d5a91c47ba2452ef5dd89570db049ce7803ec79b3621978e49f73bc02b.woff2") format('woff2');
}
@font-face {
font-family: "Poppins";
font-weight: normal;
font-style: normal;
src: url("./Poppins/a2c1dd01db85a00fb60520dce8e9fbce9e80ef72b602a6750689fe606fb626e8.woff2") format('woff2');
}
@font-face {
font-family: "Poppins Light";
font-weight: lighter;
font-style: normal;
src: url("./Poppins/c976ba6a1fbe6e96abde9f19d73ef069f67a079e7778269300fb4dcc36605c0c.woff2") format('woff2');
}
@font-face {
font-family: "Poppins Thin";
font-weight: normal;
font-style: normal;
src: url("./Poppins/6f2360b889e72267cf036324cd9dd12a5d85d016fc6a51cfb8ad7ca5b65afe78.woff2") format('woff2');
}
@font-face {
font-family: "Poppins";
font-weight: bold;
font-style: italic;
src: url("./Poppins/68664c531d1189f2c93ac34be8e3f3882e9710dcbe5d529942b78ff487b9deb2.woff2") format('woff2');
}
@font-face {
font-family: "Poppins";
font-weight: normal;
font-style: italic;
src: url("./Poppins/84de818712e0474c98b472497ee32e8058744f458d009130ede4f4cc729f1166.woff2") format('woff2');
}