@import url("../../resources/style.css");

div.container
{

    width: 100%;
    height: fit-content;
    margin: auto;
}

div.registry
{

    width: 100%;
    max-width: 668px;
    padding: 12px 8px 12px 8px;
}

div.registry > div.user
{

    min-width: 260px;
    width: 320px;
    height: 588px;
}

div.registry > div.user > div.address > textarea,
div.registry > div.user > div.description > textarea
{

    resize: none;
}

div.registry > div.user > div.submit
{

    width: 100%;
}

div.registry > div.user > div.pass,
div.registry > div.user > div.address,
div.registry > div.user > div.description,
div.registry > div.user > div.date-option,
div.registry > div.user > div.radio > div.check,
div.registry > div.user > input[type="text"],
div.registry > div.user > div.user-real-name > input[type="text"],
div.registry > div.user input[type="email"],
div.registry > div.user input[type="tel"]
{

    width: 100%;
    max-width: 320px;
    height: 42px;
    padding: 4px 12px 4px 10px;
    margin: 0 0 4px 0;
    border: 1px solid var(--var-grey);
    border-radius: 4px;
    background-color: var(--var-light-grey);
}

div.registry > div.user > div.address,
div.registry > div.user > div.description
{

    height: fit-content;
}

div.registry > div.user > div.date-option
{

    padding: 0;
    border: none;
    background-color: transparent;
    /*background-color: var(--var-grey);*/
    overflow: visible;
}

div.registry > div.user > div.date-option > div.date-year,
div.registry > div.user > div.date-option > div.date-mon,
div.registry > div.user > div.date-option > div.date-day
{

    display: inline-block;
    width: calc(33.3% - 4px);
    height: 100%;
    margin: 0 4px 0 0;
    border: 1px solid var(--var-grey);
}

div.registry > div.user > div.date-option .select,
div.registry > div.user > div.date-option div.option > .select
{

    display: flex;
    position: relative;
    width: 100%;
    height: 40px; /* decrement from border size */
    flex-wrap: nowrap;
    border: none;
    border-radius: 0;
    padding: 0 0 0 10px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--var-light-grey);
    /*box-shadow: 0 2px 4px black;*/
    flex-direction: row;
}

div.registry > div.user > div.date-option .select:hover,
div.registry > div.user > div.date-option div.option > .select:hover
{

    border: none;
    border-radius: 0;
}

div.registry > div.user > div.date-option div.option > .select:hover
{

    background-color: var(--var-grey);
}

div.registry > div.user > div.date-option div.text
{

    width: 1em;
    text-align: center;
    background-color: var(--var-orange);
}

div.registry > div.user > div.date-option > div.date-year > .select:after,
div.registry > div.user > div.date-option > div.date-mon > .select:after,
div.registry > div.user > div.date-option > div.date-day > .select:after
{

    display: inline-block;
    position: relative;
    content: "\e5c5";
    top: auto;
    right: 0;
    bottom: auto;
    left: auto;
    color: var(--var-grey);
    font-size: 1.75em;
    font-family: 'Material Icons';
    margin: auto 0 auto auto;
}

div.registry > div.user > div.date-option > div.date-year > .select:active:after,
div.registry > div.user > div.date-option > div.date-mon > .select:active:after,
div.registry > div.user > div.date-option > div.date-day > .select:active:after
{

    content: "\e5c7";
}

div.registry > div.user > div.date-option > div.date-day
{

    /* I dont Know, but it Work's */
    width: calc(33.3% - 0);
    margin: 0;
}

div.registry > div.user > div.date-option div.option
{

    display: none;
    position: relative;
    width: calc(100% + 0px); /* I Dont Know, but It Work's */
    height: fit-content;
    max-height: 260px;
    margin: 5px 0 -100% -1px; /* Get Precisely Value */
    border: 1px solid black;
    background-color: #0f5132;
    box-sizing: initial;
    overflow: visible scroll;
}

div.registry > div.user > div.date-option div.option > .select
{

    border-radius: 0;
}

div.registry > div.user > div.date-option div.option::-webkit-scrollbar
{

    width: 4px;
    height: auto;
    margin: 0 -4px 0 0;
}

div.registry > div.user > div.date-option div.option::-webkit-scrollbar-thumb
{

    background-color: var(--var-grey);
}

div.registry > div.user > div.date-option div.option::-webkit-scrollbar-thumb:hover
{

    background-color: #505050FF;
}

div.registry > div.user > div.date-option div.option::-webkit-scrollbar-track
{

    background-color: rgba(255, 255, 255, 0.6);
}

div.registry > div.user > div.pass
{

    padding: 4px 10px 4px 10px;
}

div.registry > div.user > div.pass > input[type="text"],
div.registry > div.user > div.pass > input[type="password"]
{

    width: 100%;
    background-color: transparent;
}

div.registry > div.user > div.pass > div.eye > i.material-icons
{

    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75em;
    color: rgba(100, 100, 100, 0.6);
}

div.registry > div.user > div.pass > div.eye > i.material-icons:active
{

    color: var(--var-black);
}

div.registry > div.user > div.radio
{

    width: 100%;
    max-width: 320px;
    margin: 0 0 4px 0;
}

div.registry > div.user > div.radio > div.check
{

    cursor: pointer;
    width: calc(50% - 2px); /* 130px */
    padding: 4px 12px 4px 10px;
    margin: 0;
}

div.registry > div.user > div.radio > div.check.male
{

    width: calc(50% - 2px); /* 126px */
    margin: 0 4px 0 0;
}

div.registry > div.user > div.radio > div.check > input[type="radio"]
{

    width: 1.25em;
    height: 1.25em;
    margin: 0 4px 0 0;
    border-radius: 0.25em;
    background-color: #188EFCFF;
    -webkit-appearance: none;
    appearance: none;
}

div.registry > div.user > div.radio > div.check.female > input[type="radio"]
{

    background-color: var(--var-purple);
}

div.registry > div.user > div.radio > div.check > input[type="radio"]:active
{

    background-color: var(--var-blue);
}

div.registry > div.user > div.radio > div.check.female > input[type="radio"]:active
{

    background-color: #B60CF0FF;
}

div.registry > div.user > div.radio > div.check > input[type="radio"]:checked:before
{

    content: '\e5ca';
    font-size: 1.25em;
    color: var(--var-white);
    font-family: 'Material Icons';
    font-weight: 900;
}

div.registry > div.user > div.radio > div.check > input[type="radio"]:after,
div.registry > div.user > div.radio > div.check > input[type="radio"]:checked:after
{

    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

div.registry > div.user > div.radio > div.check > label
{

    cursor: pointer;
    font-size: 0.875em;
    color: var(--var-grey);
}

div.registry > div.user > div.user-real-name
{

    width: 100%; /* 260px */
    max-width: 320px;
    margin: 0 0 4px 0;
}

div.registry > div.user > div.user-real-name > input[type="text"][name="firstname"]
{

    width: 100%;
    max-width: 172px;
    margin: 0 4px 0 0;
}

div.registry > div.user > div.user-real-name > input[type="text"][name="lastname"]
{

    width: calc(100% - 176px);
    margin: 0;
}

div.registry > div.user > div.address,
div.registry > div.user > div.description
{

    background-color: var(--var-light-grey);
    background-image: url("../../resources/cocktail.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
    background-size: 130px;
    margin: 0 0 4px 0;
}

div.registry > div.user > div.user-photo
{

    cursor: pointer;
    width: 180px;
    height: 180px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 12px;
    background-image: url("../../resources/dummy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

div.registry > div.user > div.user-photo:after
{

    content: "\e3c9";
    display: inline-block;
    position: relative;
    top: 68%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32%;
    padding: 10px 0 0 0;
    font-size: 24px;
    font-family: "Material Icons";
    text-align: center;
    color: var(--var-white);
    background-color: rgba(15, 15, 15, 0.4);
}

div.registry > div.user > div.address > textarea,
div.registry > div.user > div.description > textarea
{

    width: 100%;
    margin: 4px 0 4px 0;
    background-color: transparent;
    overflow: hidden;
}

/* Popover */

/* All rules move into [jessieQuery] -> styleInsertRule */

/* Popover */