<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- modules includes -->
    <link rel="stylesheet" href="../modules/style.css">
    <script src="../modules/easymde/easymde.min.js"></script>
    <script src="../modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="../modules/jquery.min.js"></script>
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
    <!-- modules includes -->
</head>
<body>

    <div id="editor" class="">
        <textarea id="editor-textarea"></textarea>
    </div>

    <button id="submit">submit</button>

    <script type="text/javascript">

        easymde = new EasyMDE({
            element: $("#editor-textarea")[0],
            spellChecker: false,
            // status: false,
            // toolbar: false,
            maxHeight: "320px",
            autosave: {
                unique_id: "markdown",
                enabled: true
            }
        });

        console.log(easymde.isPreviewActive())

        $("#submit").click(function(){
            var markdown = easymde.value();
            console.log(markdown);
        });
    </script>

</body>
</html>