@import url("material/fonts/fonts.css");
@import url("fonts/fonts.css");
@import url("flexbox/flexbox.css");
@import url("text/text.css");
@import url("color/color.css");
@import url("button/button.css");
@import url("popup/popup.css");

/* MS Disable Eye in Input Password */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear
{

    display: none;
}

*, *:after, *:before
{

    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', Roboto;
    font-weight: normal;
    font-style: normal;
    box-shadow: none;
    box-sizing: border-box;
    outline: none;
}

*:focus {

    outline: none;
}

body
{

    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden auto;
}

a
{

    margin: 4px 0 10px 0;
    font-size: 1em;
    text-decoration: none;
    outline: none;
}

hr
{

    width: 92%;
    margin: 0 4px 0 0;
    outline: var(--var-light-grey) solid 1px;
}

.bi
{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}