<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Profile</title>

    <!-- modules includes -->
    <link rel="stylesheet" href="../modules/style.css">
    <script src="../modules/easymde/easymde.min.js"></script>
    <script src="../modules/bootstrap/bootstrap.min.js"></script>
    <script src="../modules/jquery/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
    <!-- modules includes -->
</head>
<body>

    <div class="grid-container">

            <div class="grid-item GRID1" style="background-color: #ffffff;">
                <div class="grid1-1">
                <img class="foto" src="foto.png" alt="">
                </div>
                <div class="grid1-2">
                    <span>Display Name</span>
                    <i class="bi-gender-female"></i>
                    <a>@Username</a><br><br>
                    <i class="bi-star-fill"></i>
                    <i class="bi-star-fill"></i>
                    <i class="bi-star-fill"></i>
                    <i class="bi-star-fill"></i>
                    <i class="bi-star-half">(4.5)</i>
                    <a>9.999 Ratings</a>
                </div>
                <div class="grid1-3">
                    <h1><b>10K</b></h1>
                    <h2>Followers</h2>
                </div>
                <div class="grid1-4">
                    <h1><b>10K</b></h1>
                    <h2>Following</h2>
                </div>
                <div class="grid1-5">
                    <label><a class="contrib">Edit Profile</a></label>
                </div>
                <div class="grid1-6">
                    <label><a class="contrib">Contributions Showcase</a></label>
                </div>
            </div>

            <div class="grid-item23 GRID2" style="background-color: #ffffff;">
                <div class="grid2-1">
                    <label><a class="achvmnt">Achievements</a></label>
                </div>
                <div class="grid2-2">Navigator</div>
                <div class="grid2-3">Koruptor</div>
                <div class="grid2-4">Professor</div>
                <div class="grid2-5">Pelopor</div>
                <div class="grid2-6">Gladiator</div>
                <div class="grid2-7">Diktator</div>
                <div class="grid2-8">Governor</div>
                <div class="grid2-9">Pelakor</div>
                <div class="grid2-10">Kofaktor</div>
                <div class="grid2-11">Procrastinator</div>
                <div class="grid2-12">Investor</div>
                <div class="grid2-13">Governor</div>
            </div>

            <div class="grid-item23 GRID3" style="background-color: #ffffff;">
                <div class="grid3-1">
                    <label><a class="rltn">Relations</a></label>
                </div>
                <div class="grid3-2">
                    <div class="grid3-2kiri1">
                        <a>Groups : 2</a>
                    </div>
                    <div class="grid3-2kiri2">
                        <img class="fotokiri" src="foto.png" alt="">
                        <img class="fotokiri2" src="foto.png" alt="">
                    </div>
                    <div class="grid3-2kiri3">
                        <h5>Amongus</h5>
                        <h5 class="namakecil">1000 Members</h5>
                        <h5 class="namabesar">S.W.A.T.</h5>
                        <h5 class="namakecil">100 Members</h5>
                    </div>

                    <div class="grid3-2kanan1">
                        <a>Last Visitor : 74</a>
                    </div>
                    <div class="grid3-2kanan2">
                        <img class="fotokanan" src="foto.png" alt="">
                        <img class="fotokanan2" src="foto.png" alt="">
                    </div>
                    <div class="grid3-2kanan3">
                        <h5>Soemanto</h5><br>
                        <h5 class="namabesar">Soemantu</h5>
                    </div>
                </div>
            </div>
            
            <div class="grid-item GRID4" style="background-color: #ffffff;">
                <div class="grid4-1">
                    <img class="coconuts" src="../assets/coconuts.svg" alt="">
                </div>
                <div class="grid4-2"><span class="footerfont">© Coconuts Startup. All rights reserved. All trademarks are property of their respective owners in the INA and other countries. Some geospatial data on this website is provided by coconuts.org. Privacy Policy   |  Legal  |  Coconuts Subscriber Agreement  |  Cookies</span></div>    
            </div>
      </div>
</body>
</html>

<!--<div class="grid3-3">
    <a>2</a>
</div>
<div class="grid3-4">
    <a>Last Visitor : 90</a>
    <img class="foto1" src="foto.png" alt="">
</div>
<div class="grid3-5"></div>-->