.start
{

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.end
{

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.center
{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.evenly
{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-direction: column;
}

.around
{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}

.between
{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
}

.nowrap
{

    flex-wrap: nowrap;
}

.row
{

    align-items: center;
    align-content: center;
    flex-direction: row;
}

.row-start
{

    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.row-end
{

    align-items: flex-end;
    align-content: flex-end;
    flex-direction: row;
}

.row-evenly
{

    align-items: center;
    align-content: space-evenly;
    flex-direction: row;
}

.row-around
{

    align-items: center;
    align-content: space-around;
    flex-direction: row;
}

.row-between
{

    align-items: center;
    align-content: space-between;
    flex-direction: row;
}

.column
{

    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.column-start
{

    justify-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.column-end
{

    justify-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.column-evenly
{

    justify-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.column-around
{

    justify-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.column-between
{

    justify-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.row-reverse
{

    flex-direction: row-reverse !important;
}

.column-reverse
{

    flex-direction: column-reverse;
}